{% extends 'pystock_index.html' %}

{% block body %}
    <h3>添加股票历史数据</h3>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="trade_date" placeholder="请输入要获取数据的时间">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">提交</button>
        </label>
    </form>

    <h3>添加股票交易日历数据</h3>
    <form method="post" action="{% url 'pystock:add_trade_is_open' %}">
        {% csrf_token %}
        <label>
            <input type="text" name="start_trade_date" placeholder="请输入要获取数据的开始时间">
            <input type="text" name="end_trade_date" placeholder="请输入要获取数据的结束时间">

            <button type="submit" class="btn btn-primary" style="margin-top: 10px">提交</button>
        </label>
    </form>




{% endblock %}




