{% extends 'pystock_index.html' %}

{% block body %}
	    <h3>股票历史数据信息查询</h3>
    <form method="post">
            {% csrf_token %}
            <label>
                <input type="text" name="ts_code" placeholder="请输入要查询股票数据的代码">
                <input type="submit" value="提 交">
            </label>
        </form>
     <table class="table">
      <thead>
    <tr>
        <th scope="col">股票代码</th>
        <th scope="col">日期</th>
        <th scope="col">开盘价</th>
        <th scope="col">收盘价</th>
        <th scope="col">最高价</th>
        <th scope="col">最低价</th>
        <th scope="col">昨收价</th>
        <th scope="col">涨跌额</th>
        <th scope="col">涨跌幅</th>
        <th scope="col">成交量</th>
        <th scope="col">成交额</th>
    </tr>
  </thead>
    {% for dt in history_price_data %}
  <tbody>
    <tr>
      <th scope="row">{{ dt.ts_code_id }}</th>
      <td>{{ dt.trade_date }}</td>
        <td>{{ dt.open }}</td>
        <td>{{ dt.close }}</td>
        <td>{{ dt.high }}</td>
        <td>{{ dt.low }}</td>
        <td>{{ dt.pre_close }}</td>
        <td>{{ dt.change }}</td>
        <td>{{ dt.pct_chg }}</td>
        <td>{{ dt.vol }}</td>
        <td>{{ dt.amount }}</td>
        <td>
{#            <a href="/blog/del/?nid={{ dt.id }}">删除</a>#}
            <a href="{% url 'blog:django_del' nid=dt.id %}">删除</a>
            <a href="{% url 'blog:update_user' nid=dt.id %}">编辑</a>
        </td>
    </tr>

  </tbody>


    {% endfor %}

</table>
{% endblock %}






