{% extends 'index.html' %}

{% block second_nav %}

    <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:django_add' %}">增--add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:django_del' %}">删--delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:django_update' %}">改--update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">查--find</a>
          </li>
    </ul>

{% endblock %}


{% block body %}


        <div>你需要查询的数据为</div>
        <div>你需要查询的数据为</div>



{% endblock %}
