{% extends 'index.html' %}

{% block second_nav %}

    <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:django_add' %}">增--add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">查--find</a>
          </li>
    </ul>

{% endblock %}


{% block body %}
    {% load static %}
        <div>你需要查询的数据为
        {% for dt in data %}
            <ul>
                <li>dt.age--{{ dt.age }}</li>
                <li>dt.info--{{ dt.info }}</li>
                <li>/{{ dt.img1 }}</li>
                <li><img src="/{{ dt.img1 }}" alt="图片不见了" style="width: 600px; height:500px"></li>
            </ul>
        {% endfor %}
            <img src="{% static 'I:\dj_blog\Dj_Blog\static\images\p1.jpg' %}" alt="waibu">
         {{ info }}
        </div>

{% endblock %}
